/*  Structure

1.  Fonts including
2.  General styles
3.  Header
4.  Form
5.  About us
6.  Banner
7.  Documents
8.  What we can
9.  Our project
10. Our partners
11. Footer
12. Scrool to top
13. Breadcrumbs
14. Work zone
15. Services controller
16. Map

*/
/* 1.  Fonts including */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kanit:300,400,700&display=swap");
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ArialMT/ArialMT.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialMT/ArialMT.woff") format("woff"), url("../fonts/ArialMT/ArialMT.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "Arial-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Arial-BoldMT/Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial-BoldMT/Arial-BoldMT.woff") format("woff"), url("../fonts/Arial-BoldMT/Arial-BoldMT.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "Helvetica-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "Helvetica-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-display: swap; }

/* 2.  General styles */
body {
  color: #787878;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
  max-width: 100%;
  font-size: 16px;
  letter-spacing: 0; }

section {
  padding: 60px 0px;
  text-align: left; }
  @media only screen and (max-device-width: 767px) {
    section {
      padding: 30px 0px; } }

h1,
h2,
h3,
h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 900;
  color: #30355d;
  padding-bottom: 10px;
  border-bottom: solid 1px #0eb0ee; }
  @media only screen and (min-device-width: 992px) {
    h1,
    h2,
    h3,
    h4 {
      font-size: 27px;
      line-height: 30px;
      padding-bottom: 23px; } }
  @media only screen and (min-device-width: 1200px) {
    h1,
    h2,
    h3,
    h4 {
      font-size: 44px;
      line-height: 50px; } }

section ul {
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 20px; }
  section ul li {
    list-style: disc; }

section ol {
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 20px; }
  section ol li {
    list-style: decimal; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    text-decoration: none;
    color: #fff; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.anim-wrapp {
  opacity: 0; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.btn {
  border: solid 1px #fff;
  border-radius: 0;
  font-size: 16px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  min-width: 150px;
  margin-top: 30px; }
  @media only screen and (max-device-width: 767px) {
    .btn {
      margin-top: 10px;
      float: left; } }
  .btn:hover {
    background-color: #3d9be9;
    border-color: #3d9be9; }

.blue_btn {
  height: 38px;
  text-transform: uppercase;
  background-color: #0eb0ee;
  font-size: 12px;
  border-radius: 19px;
  padding: 13px 64px 11px 64px;
  font-weight: bold;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .blue_btn:hover {
    background-color: #30355d; }

/* Header */
header {
  background-color: #0eb0ee; }
  header.sticky .main-wrapp {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99; }
    header.sticky .main-wrapp ul {
      margin-bottom: 0; }
  header .header__logo-box {
    background-color: #fff;
    text-align: center;
    padding-top: 15px; }
    @media only screen and (max-device-width: 575px) {
      header .header__logo-box {
        padding-bottom: 15px; } }
    header .header__logo-box source,
    header .header__logo-box img {
      max-width: 80%; }
  header .language-switcher {
    position: absolute;
    top: 5px;
    right: 0; }
    @media only screen and (max-device-width: 1199px) {
      header .language-switcher {
        top: 0px;
        right: -15px; } }
    header .language-switcher select::-ms-expand {
      display: none; }
    header .language-switcher select {
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -1px;
      color: #fff;
      background-color: transparent;
      cursor: pointer;
      border: 0;
      text-transform: uppercase;
      width: 55px;
      height: 27px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../img/dropdown.png) right/18px no-repeat;
      padding-right: 18px;
      background-size: 15px;
      border-radius: 0;
      background-position-x: 28px; }
      header .language-switcher select:focus, header .language-switcher select:hover {
        outline: 0; }
      header .language-switcher select option {
        color: #49792c;
        border-color: #49792c;
        outline-color: #fff;
        font-size: 12px; }
  header .header__adress,
  header .header__phone,
  header .header__connect {
    padding-top: 50px;
    font-family: 'Helvetica-Light', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 34px;
    color: #fff;
    position: relative; }
    @media only screen and (max-device-width: 1199px) {
      header .header__adress,
      header .header__phone,
      header .header__connect {
        font-size: 13px;
        padding-top: 25px;
        padding-bottom: 15px; } }
  @media only screen and (max-device-width: 575px) {
    header .header__adress {
      display: none; } }
  header .header__adress .header__adress-wrapper {
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 15px; }
    @media only screen and (max-device-width: 1199px) {
      header .header__adress .header__adress-wrapper {
        margin-left: 0;
        margin-right: 5px; } }
    header .header__adress .header__adress-wrapper i {
      color: #fff;
      width: 38px;
      height: 38px;
      font-size: 16px;
      border-radius: 19px;
      border: solid 1px #8ae3ff;
      line-height: 38px;
      text-align: center; }
  header .header__adress .header__adress-text {
    display: block;
    color: #8ae3ff; }
    header .header__adress .header__adress-text strong {
      color: #fff;
      font-weight: bold;
      font-family: 'Helvetica-Bold', sans-serif; }
  @media only screen and (max-device-width: 575px) {
    header .header__phone {
      display: none; } }
  header .header__phone .header__phone-wrapper {
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 15px; }
    @media only screen and (max-device-width: 1199px) {
      header .header__phone .header__phone-wrapper {
        margin-left: 0;
        margin-right: 5px; } }
    header .header__phone .header__phone-wrapper i {
      color: #fff;
      width: 38px;
      height: 38px;
      font-size: 28px;
      border-radius: 19px;
      border: solid 1px #8ae3ff;
      line-height: 38px;
      text-align: center;
      padding-left: 2px; }
  header .header__phone .header__phone-text {
    display: block;
    color: #8ae3ff; }
    header .header__phone .header__phone-text strong {
      color: #fff;
      font-weight: bold;
      font-family: 'Helvetica-Bold', sans-serif; }
  header .header__connect {
    text-align: center; }
    @media only screen and (max-device-width: 991px) {
      header .header__connect {
        display: none; } }
    header .header__connect a {
      background-color: #fff;
      color: #0eb0ee;
      line-height: 3;
      height: 38px;
      padding: 12px 30px 12px 30px;
      border-radius: 19px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      @media only screen and (max-device-width: 1199px) {
        header .header__connect a {
          font-size: 11px;
          padding: 12px 10px 12px 10px;
          line-height: 4; } }
      header .header__connect a:hover {
        background-color: #30355d;
        color: #fff; }
  header nav.desk-nav {
    background-color: #30355d;
    color: #fff;
    margin-bottom: 0; }
    @media only screen and (max-device-width: 991px) {
      header nav.desk-nav {
        display: none; } }
    header nav.desk-nav li {
      display: inline-block;
      border-left: solid 1px rgba(255, 255, 255, 0.1); }
      header nav.desk-nav li:last-child {
        border-right: solid 1px rgba(255, 255, 255, 0.1); }
      header nav.desk-nav li.current-menu-item a {
        color: #0eb0ee;
        text-decoration: underline; }
      header nav.desk-nav li a {
        padding: 13px 30px;
        text-transform: uppercase;
        font-family: "Kanit", sans-serif;
        font-weight: bold;
        line-height: 48px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        font-size: 14px; }
        header nav.desk-nav li a:hover {
          color: #0eb0ee;
          text-decoration: underline; }
  header .main-wrapp {
    background-color: #30355d; }
    header .main-wrapp ul {
      margin-bottom: 0; }
  header .container.nav-wrapp {
    padding-left: 0;
    padding-right: 0; }
    header .container.nav-wrapp .toggle_mnu {
      width: 60px;
      height: 60px;
      position: unset;
      z-index: 100;
      border: none;
      background: #30355d;
      display: none;
      z-index: 999;
      margin: 0 auto; }
      @media only screen and (max-device-width: 991px) {
        header .container.nav-wrapp .toggle_mnu {
          display: block; } }
      @media only screen and (max-device-width: 767px) {
        header .container.nav-wrapp .toggle_mnu {
          right: 5px; } }
      header .container.nav-wrapp .toggle_mnu span {
        display: block; }
    header .container.nav-wrapp .toggle_mnu:hover {
      cursor: pointer; }
    header .container.nav-wrapp .sandwich {
      width: 28px;
      height: 28px;
      top: 8px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 200; }
    header .container.nav-wrapp .sw-topper {
      position: relative;
      top: 0;
      width: 28px;
      height: 3px;
      background: #fff;
      border: none;
      border-radius: 4px 4px 4px 4px;
      -webkit-transition: -webkit-transform 0.5s, top 0.3s;
      -webkit-transition: top 0.3s, -webkit-transform 0.5s;
      transition: top 0.3s, -webkit-transform 0.5s;
      -o-transition: transform 0.5s, top 0.3s;
      transition: transform 0.5s, top 0.3s;
      transition: transform 0.5s, top 0.3s, -webkit-transform 0.5s;
      display: block; }
    header .container.nav-wrapp button:focus {
      outline: 0; }
    header .container.nav-wrapp .sw-bottom {
      position: relative;
      width: 28px;
      height: 3px;
      top: 6.6px;
      background: #fff;
      border: none;
      border-radius: 4px 4px 4px 4px;
      -webkit-transition: -webkit-transform 0.5s, top 0.3s;
      -webkit-transition: top 0.3s, -webkit-transform 0.5s;
      transition: top 0.3s, -webkit-transform 0.5s;
      -o-transition: transform 0.5s, top 0.3s;
      transition: transform 0.5s, top 0.3s;
      transition: transform 0.5s, top 0.3s, -webkit-transform 0.5s;
      -webkit-transition-delay: 0.3s, 0s;
      -o-transition-delay: 0.3s, 0s;
         transition-delay: 0.3s, 0s; }
    header .container.nav-wrapp .sw-footer {
      position: relative;
      width: 28px;
      height: 3px;
      top: 13.5px;
      background: #fff;
      border: none;
      border-radius: 4px 4px 4px 4px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
         transition-delay: 0.1s; }
    header .container.nav-wrapp .sandwich.active .sw-topper {
      top: 9px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    header .container.nav-wrapp .sandwich.active .sw-bottom {
      top: 6px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    header .container.nav-wrapp .sandwich.active .sw-footer {
      opacity: 0;
      top: 0;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    header .container.nav-wrapp .toggle_mnu_close {
      width: 60px;
      height: 60px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      border: none;
      background: transparent;
      display: none;
      z-index: 999;
      margin: 0 auto; }
      @media only screen and (max-device-width: 767px) {
        header .container.nav-wrapp .toggle_mnu_close {
          right: 5px; } }
      header .container.nav-wrapp .toggle_mnu_close span {
        display: block; }
    header .container.nav-wrapp .top_mnu {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #30355d;
      z-index: 50;
      right: 0;
      top: 0;
      display: none;
      text-align: center; }
      header .container.nav-wrapp .top_mnu .language-switcher {
        position: unset;
        margin-top: 20px; }
        header .container.nav-wrapp .top_mnu .language-switcher select::-ms-expand {
          display: none; }
        header .container.nav-wrapp .top_mnu .language-switcher select:focus, header .container.nav-wrapp .top_mnu .language-switcher select:hover {
          outline: 0; }
        header .container.nav-wrapp .top_mnu .language-switcher select option {
          color: #49792c;
          border-color: #49792c;
          outline-color: #fff;
          font-size: 12px; }
      header .container.nav-wrapp .top_mnu ul,
      header .container.nav-wrapp .top_mnu li {
        list-style-type: none;
        padding: 0;
        margin: 0; }
      header .container.nav-wrapp .top_mnu ul {
        margin-top: 55px;
        text-align: center;
        -webkit-animation-duration: 0.01s;
        animation-duration: 0.01s; }
        header .container.nav-wrapp .top_mnu ul li:nth-child(1) a {
          -webkit-animation-delay: 0;
          animation-delay: 0; }
        header .container.nav-wrapp .top_mnu ul li:nth-child(2) a {
          -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
        header .container.nav-wrapp .top_mnu ul li:nth-child(3) a {
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
        header .container.nav-wrapp .top_mnu ul li:nth-child(4) a {
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
        header .container.nav-wrapp .top_mnu ul li:nth-child(5) a {
          -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
        header .container.nav-wrapp .top_mnu ul li:nth-child(6) a {
          -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }
        header .container.nav-wrapp .top_mnu ul a {
          color: #fff;
          display: block;
          text-transform: uppercase;
          font-size: 12px;
          opacity: 1;
          position: relative;
          height: 40px;
          outline: none;
          font-size: 16px; }
          header .container.nav-wrapp .top_mnu ul a span {
            display: block;
            position: relative;
            top: -45px;
            left: 0;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            header .container.nav-wrapp .top_mnu ul a span:hover {
              background-color: rgba(0, 123, 255, 0.08); }
        header .container.nav-wrapp .top_mnu ul a:hover {
          text-decoration: none; }
      header .container.nav-wrapp .top_mnu .more-info-box {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
        margin-top: 20px;
        color: #fff;
        text-align: center; }
        header .container.nav-wrapp .top_mnu .more-info-box i {
          color: #fff; }
        header .container.nav-wrapp .top_mnu .more-info-box .phone-box {
          margin-left: 18px;
          margin-bottom: 20px; }
          @media only screen and (max-device-width: 575px) {
            header .container.nav-wrapp .top_mnu .more-info-box .phone-box {
              margin-left: 0px; } }
          @media only screen and (max-device-width: 320px) {
            header .container.nav-wrapp .top_mnu .more-info-box .phone-box {
              margin-top: -7px; } }
          header .container.nav-wrapp .top_mnu .more-info-box .phone-box i {
            font-size: 12px;
            margin-left: -13px; }
            @media only screen and (max-device-width: 575px) {
              header .container.nav-wrapp .top_mnu .more-info-box .phone-box i {
                display: none; } }
          header .container.nav-wrapp .top_mnu .more-info-box .phone-box a {
            color: #fff;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            font-family: 'Open Sans', sans-serif; }
            @media only screen and (max-device-width: 575px) {
              header .container.nav-wrapp .top_mnu .more-info-box .phone-box a {
                font-size: 12px; } }
          header .container.nav-wrapp .top_mnu .more-info-box .phone-box a:hover {
            color: #30355d; }
        header .container.nav-wrapp .top_mnu .more-info-box .work-time {
          font-size: 12px; }
        header .container.nav-wrapp .top_mnu .more-info-box .social-box {
          margin-bottom: 20px; }
          header .container.nav-wrapp .top_mnu .more-info-box .social-box i {
            font-size: 22px; }
          header .container.nav-wrapp .top_mnu .more-info-box .social-box a i {
            margin-right: 10px; }
          header .container.nav-wrapp .top_mnu .more-info-box .social-box a:last-child i {
            margin-right: 0px; }

.no-webp header .language-switcher select {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  width: 55px;
  height: 27px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/dropdown.png) right/18px no-repeat;
  padding-right: 18px;
  background-size: 15px;
  border-radius: 0;
  background-position-x: 28px; }

.webp header .language-switcher select {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  width: 55px;
  height: 27px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/dropdown.webp) right/18px no-repeat;
  padding-right: 18px;
  background-size: 15px;
  border-radius: 0;
  background-position-x: 28px; }

/* 4.  Form */
input,
textarea {
  border-radius: 5px; }

.wpcf7 {
  width: 100%; }

.breadcrambs {
  background: url(../img/slider-1.jpg); }
  .breadcrambs .inner-wrap {
    height: 100px; }

.wpcf7 label {
  width: 100%;
  margin-bottom: 0; }

.wpcf7 .wpcf7-validation-errors {
  display: none !important; }

.wpcf7 .wpcf7-form {
  width: 100%; }

.wpcf7 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
  line-height: 12px;
  padding-top: 10px; }

@media only screen and (max-device-width: 575px) {
  .wpcf7 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 14px; } }

.wpcf7 .wpcf7-form .wpcf7-validation-errors,
.wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
  margin-top: 60px; }

.wpcf7 .wpcf7-form .help-develop {
  float: left;
  display: block;
  line-height: 60px;
  margin-right: 10px; }

@media only screen and (max-device-width: 575px) {
  .wpcf7 .wpcf7-form .help-develop {
    line-height: 40px; } }

.wpcf7 .wpcf7-form span.wpcf7-form-control-wrap {
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 1%; }

@media only screen and (max-device-width: 575px) {
  .wpcf7 .wpcf7-form span.wpcf7-form-control-wrap {
    width: 100%;
    text-align: left; } }

.wpcf7 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
  width: auto; }

@media only screen and (max-device-width: 575px) {
  .wpcf7 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: 100%;
    text-align: left; } }

.wpcf7 .wpcf7-form span.textarea-text {
  width: 100%; }

.wpcf7 textarea {
  width: 100%;
  background-color: #ecedef;
  border: 0;
  margin-top: 20px;
  padding: 7px 15px 6px 15px;
  border-radius: 0; }

.wpcf7 textarea::-webkit-input-placeholder {
  color: #b9d4ef; }

.wpcf7 textarea::-moz-placeholder {
  color: #b9d4ef; }

.wpcf7 textarea:-ms-input-placeholder {
  color: #b9d4ef; }

.wpcf7 textarea::-ms-input-placeholder {
  color: #b9d4ef; }

.wpcf7 textarea::placeholder {
  color: #b9d4ef; }

.footer__child-item-wrapp {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 30px 40px 0 40px; }
  @media only screen and (min-device-width: 992px) {
    .footer__child-item-wrapp {
      padding: 30px 40px 30px 40px;
      border-top: solid 4px #0eb0ee; } }
  .footer__child-item-wrapp h5 {
    margin-bottom: 0;
    border-bottom: 0;
    color: #30355d;
    font-size: 44px;
    font-weight: 900;
    text-align: center; }

.wpcf7-not-valid-tip,
.wpcf7-mail-sent-ok {
  color: red;
  padding-left: 10px;
  font-size: 10px; }
  @media only screen and (min-device-width: 992px) {
    .wpcf7-not-valid-tip,
    .wpcf7-mail-sent-ok {
      padding-left: 0; } }

.wpcf7 input {
  width: 100%;
  float: left;
  border-radius: 0;
  padding: 7px 15px 6px 15px;
  border: solid 1px #eee;
  margin-top: 20px;
  background-color: #ecedef; }

.wpcf7 input::-webkit-input-placeholder {
  color: #b9d4ef; }

.wpcf7 input::-moz-placeholder {
  color: #b9d4ef; }

.wpcf7 input:-ms-input-placeholder {
  color: #b9d4ef; }

.wpcf7 input::-ms-input-placeholder {
  color: #b9d4ef; }

.wpcf7 input::placeholder {
  color: #b9d4ef; }

@media only screen and (max-device-width: 575px) {
  .wpcf7 .wpcf7-form p input {
    width: 100%; } }

.wpcf7 .wpcf7-form p select {
  height: 40px;
  margin-top: 10px;
  float: left; }

@media only screen and (max-device-width: 575px) {
  .wpcf7 .wpcf7-form p select {
    margin-top: 0px; } }

.wpcf7 .wpcf7-form p .wpcf7-email {
  margin-left: 0; }

@media only screen and (max-device-width: 575px) {
  .wpcf7 .wpcf7-form p .wpcf7-email {
    margin-left: 0;
    margin-top: 0; } }

.wpcf7 .wpcf7-form p .wpcf7-textarea {
  margin-top: 2%;
  padding: 0.75rem;
  border: solid 1px #eee;
  width: 100%;
  margin-bottom: 0; }

.wpcf7 .wpcf7-form p .wpcf7-textarea,
.wpcf7 .wpcf7-form p .wpcf7-input {
  color: #888; }

.wpcf7 .wpcf7-form p input:focus,
.wpcf7 .wpcf7-form p textarea:focus {
  outline-color: #fff; }

.wpcf7 .wpcf7-form p .wpcf7-submit {
  height: 38px;
  text-transform: uppercase;
  background-color: #0eb0ee;
  font-size: 12px;
  border-radius: 19px;
  max-width: 200px;
  text-align: center;
  font-weight: bold;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #fff;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .wpcf7 .wpcf7-form p .wpcf7-submit:focus {
    outline: none; }
  .wpcf7 .wpcf7-form p .wpcf7-submit:active {
    outline: none; }
  @media only screen and (min-device-width: 991px) {
    .wpcf7 .wpcf7-form p .wpcf7-submit {
      margin-bottom: 30px; } }

@media only screen and (min-device-width: 992px) {
  .wpcf7 .left-side,
  .wpcf7 .right-side {
    width: 48%;
    float: left; } }

@media only screen and (min-device-width: 992px) {
  .wpcf7 .left-side {
    margin-right: 4%; } }

.wpcf7 .wpcf7-form p .wpcf7-submit:hover {
  background-color: #30355d; }

.wpcf7 .wpcf7-form span.textarea-comment {
  width: 100%; }

.wpcf7 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
  line-height: 18px;
  padding-top: 12px; }

@media only screen and (max-device-width: 575px) {
  .wpcf7 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 14px; } }

.wpcf7#wpcf7-f27-o1 {
  width: 100%; }

.wpcf7#wpcf7-f27-o1 .wpcf7-validation-errors {
  display: none !important; }

.wpcf7#wpcf7-f27-o1 .wpcf7-form {
  width: 100%; }

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-not-valid-tip {
  line-height: 35px; }

.wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
  line-height: 18px;
  padding-top: 12px; }

@media only screen and (max-device-width: 575px) {
  .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-550 .wpcf7-not-valid-tip {
    line-height: 14px; } }

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-validation-errors,
.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-mail-sent-ok {
  margin-top: 60px; }

.wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
  float: left;
  display: block;
  line-height: 60px;
  margin-right: 10px; }

@media only screen and (max-device-width: 575px) {
  .wpcf7#wpcf7-f27-o1 .wpcf7-form .help-develop {
    line-height: 40px; } }

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 1%; }

@media only screen and (max-device-width: 575px) {
  .wpcf7#wpcf7-f27-o1 .wpcf7-form span.wpcf7-form-control-wrap {
    width: 100%;
    text-align: left; } }

.wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
  width: auto; }

@media only screen and (max-device-width: 575px) {
  .wpcf7#wpcf7-f27-o1 .wpcf7-form .wpcf7-form-control-wrap.menu-valute {
    width: 100%;
    text-align: left; } }

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-text {
  width: 100%; }

.wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
  width: 100%;
  float: left;
  padding: 0.75rem;
  border: solid 1px #eee; }

@media only screen and (max-device-width: 575px) {
  .wpcf7#wpcf7-f27-o1 .wpcf7-form p input {
    width: 100%; } }

.wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
  height: 40px;
  margin-top: 10px;
  float: left; }

@media only screen and (max-device-width: 575px) {
  .wpcf7#wpcf7-f27-o1 .wpcf7-form p select {
    margin-top: 0px; } }

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
  margin-left: 0; }

@media only screen and (max-device-width: 575px) {
  .wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-email {
    margin-left: 0;
    margin-top: 0; } }

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea {
  margin-top: 2%;
  padding: 0.75rem;
  border: solid 1px #eee;
  width: 100%; }

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-textarea,
.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-input {
  color: #888; }

.wpcf7#wpcf7-f27-o1 .wpcf7-form p input:focus,
.wpcf7#wpcf7-f27-o1 .wpcf7-form p textarea:focus {
  outline-color: #fff; }

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit {
  display: block;
  height: 60px;
  width: 230px;
  background-color: #fff;
  border: none;
  color: #30355d;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
  border-radius: 30px; }

.wpcf7#wpcf7-f27-o1 .wpcf7-form p .wpcf7-submit:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 1.563px 8.863px 20px 0 rgba(0, 0, 0, 0.4); }

.wpcf7#wpcf7-f27-o1 .wpcf7-form span.textarea-comment {
  width: 100%; }

.wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
  line-height: 18px;
  padding-top: 12px; }

@media only screen and (max-device-width: 575px) {
  .wpcf7#wpcf7-f27-o1 .wpcf7-form .menu-valute .wpcf7-not-valid-tip {
    line-height: 14px; } }

.screen-reader-response {
  display: none; }

/* 5.  About us */
.about-us h5 {
  color: #30355d;
  font-weight: 900; }

.about-us .about-us__article-box .about-us__article-box--btn-wrapp {
  display: none;
  padding-top: 40px; }
  @media only screen and (min-device-width: 992px) {
    .about-us .about-us__article-box .about-us__article-box--btn-wrapp {
      display: block; } }

.about-us .about-us__main-content {
  padding-top: 20px; }
  .about-us .about-us__main-content h1, .about-us .about-us__main-content h5, .about-us .about-us__main-content p {
    border-bottom: 0;
    display: inline;
    font-size: 17px;
    line-height: 20px;
    color: #30355d;
    font-weight: 900; }
    @media only screen and (min-device-width: 992px) {
      .about-us .about-us__main-content h1, .about-us .about-us__main-content h5, .about-us .about-us__main-content p {
        font-size: 20px; } }
  .about-us .about-us__main-content h4 {
    color: #787878;
    font-size: 20px;
    line-height: 20px; }
  .about-us .about-us__main-content p:first-child {
    margin-bottom: 15px; }
  .about-us .about-us__main-content .anim-wrapp {
    -webkit-animation-delay: .2s;
            animation-delay: .2s; }

.about-us .about-us__article {
  padding-top: 20px; }
  .about-us .about-us__article .anim-wrapp {
    -webkit-animation-delay: .4s;
            animation-delay: .4s; }
  .about-us .about-us__article p {
    color: #30355d;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 18px;
    border-bottom: solid 1px #0eb0ee; }
    @media only screen and (min-device-width: 992px) {
      .about-us .about-us__article p {
        padding-bottom: 23px;
        font-size: 18px;
        line-height: 22px; } }
    .about-us .about-us__article p span {
      color: #0eb0ee;
      font-weight: normal; }
  .about-us .about-us__article .about-us__article-img-wrapp {
    text-align: center; }
  .about-us .about-us__article .about-us__article--btn-wrapp {
    text-align: center;
    padding-top: 30px; }
    @media only screen and (min-device-width: 992px) {
      .about-us .about-us__article .about-us__article--btn-wrapp {
        display: none; } }

/* 6.  Banner */
.banner-box {
  text-align: center;
  background-color: #f5f6fb; }
  .banner-box picture.desktop {
    display: none; }
    @media only screen and (min-device-width: 768px) {
      .banner-box picture.desktop {
        display: block; } }
  @media only screen and (min-device-width: 768px) {
    .banner-box picture.mobile {
      display: none; } }
  @media only screen and (min-device-width: 992px) {
    .banner-box .banner-box__map-info-clasification {
      position: absolute;
      bottom: 55px;
      left: 0; } }
  .banner-box .map-wrapp {
    position: relative; }
    @media only screen and (min-device-width: 992px) {
      .banner-box .map-wrapp {
        text-align: right; } }
    .banner-box .map-wrapp source,
    .banner-box .map-wrapp img {
      max-width: 100%;
      margin-bottom: 15px; }
      @media only screen and (min-device-width: 992px) {
        .banner-box .map-wrapp source,
        .banner-box .map-wrapp img {
          max-width: 80%; } }
      @media only screen and (min-device-width: 1200px) {
        .banner-box .map-wrapp source,
        .banner-box .map-wrapp img {
          max-width: 90%; } }
    .banner-box .map-wrapp h3 {
      color: #30355d;
      border-bottom: 0; }
      @media only screen and (min-device-width: 992px) {
        .banner-box .map-wrapp h3 {
          width: 34%;
          position: absolute;
          top: -30px;
          right: -15px;
          letter-spacing: -1px; } }
    .banner-box .map-wrapp h6 {
      color: #30355d;
      text-align: left; }
      .banner-box .map-wrapp h6.last {
        -webkit-animation-delay: 1s;
                animation-delay: 1s; }
    .banner-box .map-wrapp ul {
      padding-left: 60px; }
      .banner-box .map-wrapp ul li {
        list-style: none;
        text-align: left;
        position: relative;
        line-height: 19px;
        margin-bottom: 12px;
        color: #333; }
        .banner-box .map-wrapp ul li::after {
          content: "";
          position: absolute;
          left: -60px;
          top: 0;
          width: 50px;
          height: 20px; }
      .banner-box .map-wrapp ul.first li:nth-child(1) {
        -webkit-animation-delay: .2s;
                animation-delay: .2s; }
        .banner-box .map-wrapp ul.first li:nth-child(1)::after {
          background-color: #cbe7b6; }
      .banner-box .map-wrapp ul.first li:nth-child(2) {
        -webkit-animation-delay: .4s;
                animation-delay: .4s; }
        .banner-box .map-wrapp ul.first li:nth-child(2)::after {
          background-color: #fff541; }
      .banner-box .map-wrapp ul.first li:nth-child(3) {
        -webkit-animation-delay: .6s;
                animation-delay: .6s; }
        .banner-box .map-wrapp ul.first li:nth-child(3)::after {
          background-color: #ffa130; }
      .banner-box .map-wrapp ul.first li:nth-child(4) {
        -webkit-animation-delay: .8s;
                animation-delay: .8s; }
        .banner-box .map-wrapp ul.first li:nth-child(4)::after {
          top: 7px;
          background: -o-repeating-linear-gradient(150deg, #f05c50 0, #f05c50 1px, transparent 1px, transparent 2px);
          background: repeating-linear-gradient(-60deg, #f05c50 0, #f05c50 1px, transparent 1px, transparent 2px);
          border-radius: 50%; }
          @media only screen and (min-device-width: 389px) {
            .banner-box .map-wrapp ul.first li:nth-child(4)::after {
              top: 0; } }
      .banner-box .map-wrapp ul.second li:nth-child(1) {
        -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s; }
        .banner-box .map-wrapp ul.second li:nth-child(1)::after {
          background-image: -webkit-repeating-radial-gradient(center center, black, black 1px, transparent 1px, transparent 100%);
          background-image: -o-repeating-radial-gradient(center center, black, black 1px, transparent 1px, transparent 100%);
          background-image: repeating-radial-gradient(center center, black, black 1px, transparent 1px, transparent 100%);
          background-size: 4px 4px; }
      .banner-box .map-wrapp ul.second li:nth-child(2) {
        -webkit-animation-delay: 1.4s;
                animation-delay: 1.4s; }
        .banner-box .map-wrapp ul.second li:nth-child(2)::after {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #4b6dc4));
          background: -o-linear-gradient(#fff 50%, #4b6dc4 50%);
          background: linear-gradient(#fff 50%, #4b6dc4 50%);
          background-size: 100% 2px; }
      .banner-box .map-wrapp ul.second li::after {
        border-radius: 50%; }

/* 7.  Documents */
.documents h2 {
  color: #fff;
  display: inline-block; }
  .documents h2 span {
    color: #0eb0ee; }

.documents .documents__item-box {
  position: relative;
  margin-top: 20px; }
  .documents .documents__item-box i {
    color: #fff;
    border: solid 1px #0eb0ee;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    padding-left: 12px;
    padding-top: 11px;
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 18px; }
  .documents .documents__item-box .documents__item-box-content {
    padding-left: 50px;
    padding-top: 4px; }
    .documents .documents__item-box .documents__item-box-content h3 {
      color: #0eb0ee;
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 5px;
      line-height: 20px;
      font-size: 18px;
      text-transform: uppercase; }
    .documents .documents__item-box .documents__item-box-content p {
      color: #fff;
      font-size: 20px;
      line-height: 20px;
      font-weight: bold; }

.no-webp .documents {
  background-image: url(../img/documents-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.webp .documents {
  background-image: url(../img/documents-bg.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

/* 8.  What we can */
.what-we-can h2 {
  color: #30355d;
  display: inline-block;
  margin-bottom: 30px; }
  @media only screen and (min-device-width: 1200px) {
    .what-we-can h2 {
      margin-bottom: 0; } }
  .what-we-can h2 span {
    color: #0eb0ee; }

.what-we-can .row .what-we-can__child-item {
  margin-bottom: 20px; }
  @media only screen and (min-device-width: 992px) {
    .what-we-can .row .what-we-can__child-item {
      margin-bottom: 40px; } }
  .what-we-can .row .what-we-can__child-item a {
    display: inline-block;
    border-bottom: dotted 2px transparent;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .what-we-can .row .what-we-can__child-item a:hover h3::after {
      width: 100%; }
    .what-we-can .row .what-we-can__child-item a:hover p {
      color: #30355d; }
    .what-we-can .row .what-we-can__child-item a:hover i {
      background: #212647; }
  .what-we-can .row .what-we-can__child-item .wrapp {
    background: #30355d;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 70px; }
  .what-we-can .row .what-we-can__child-item i {
    margin-bottom: 10px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .what-we-can .row .what-we-can__child-item h3 {
    position: relative;
    font-family: Kanit, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    border-bottom: 0;
    padding-bottom: 13px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .what-we-can .row .what-we-can__child-item h3::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #0eb0ee;
      height: 2px;
      width: 30%;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
  .what-we-can .row .what-we-can__child-item p {
    color: #7f7e7c;
    font-size: 15px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }

.what-we-can .row:nth-child(1) .what-we-can__child-item:nth-child(2) img,
.what-we-can .row:nth-child(1) .what-we-can__child-item:nth-child(2) source {
  height: 70px;
  margin-top: -54px;
  margin-left: 3px; }

.what-we-can .row:nth-child(1) .what-we-can__child-item:nth-child(3) a {
  -webkit-animation-delay: .1s;
          animation-delay: .1s; }

.what-we-can .row:nth-child(1) .what-we-can__child-item:nth-child(3) i {
  font-size: 83px;
  line-height: 70px; }

.what-we-can .row:nth-child(1) .what-we-can__child-item:nth-child(4) a {
  -webkit-animation-delay: .2s;
          animation-delay: .2s; }

.what-we-can .row:nth-child(1) .what-we-can__child-item:nth-child(4) img,
.what-we-can .row:nth-child(1) .what-we-can__child-item:nth-child(4) source {
  height: 60px;
  margin-top: -45px;
  margin-left: 4px; }

.what-we-can .row:nth-child(1) .what-we-can__child-item i {
  color: #0eb0ee;
  background: #30355d;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 70px; }

.what-we-can .row:nth-child(2) .what-we-can__child-item:nth-child(1) i {
  content: "f5d2"; }

.what-we-can .row:nth-child(2) .what-we-can__child-item:nth-child(2) a {
  -webkit-animation-delay: .1s;
          animation-delay: .1s; }

.what-we-can .row:nth-child(2) .what-we-can__child-item:nth-child(3) a {
  -webkit-animation-delay: .2s;
          animation-delay: .2s; }

.what-we-can .row:nth-child(2) .what-we-can__child-item:nth-child(3) i {
  padding-left: 3px; }

.what-we-can .row:nth-child(2) .what-we-can__child-item i {
  color: #0eb0ee;
  background: #30355d;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 70px; }

.no-webp .what-we-can {
  background-image: url(../img/bg-what-we-can.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.webp .what-we-can {
  background-image: url(../img/bg-what-we-can.webp);
  background-repeat: no-repeat;
  background-size: cover; }

/* 9.  Our project */
.our-project {
  background-color: #f5f6fb; }
  .our-project h2 {
    display: inline-block; }
    .our-project h2 span {
      color: #0eb0ee; }
  .our-project .our-project__phone-wrapper {
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 15px; }
    @media only screen and (min-device-width: 1199px) {
      .our-project .our-project__phone-wrapper {
        margin-left: 0;
        margin-right: 5px; } }
    .our-project .our-project__phone-wrapper i {
      color: #0eb0ee;
      width: 38px;
      height: 38px;
      border-radius: 19px;
      border: solid 1px #8ae3ff;
      line-height: 38px;
      text-align: center;
      padding-left: 2px;
      font-size: 23px; }
  .our-project .our-project__phone-text {
    display: block;
    color: #30355d;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 14px;
    padding-top: 5px; }
    @media only screen and (min-device-width: 992px) {
      .our-project .our-project__phone-text {
        padding-left: 55px; } }
    .our-project .our-project__phone-text strong {
      color: #aab9cd;
      font-weight: bold;
      font-family: 'Helvetica-Bold', sans-serif; }
  .our-project .our-project__article-box--btn-wrapp {
    display: none;
    padding-top: 40px; }
    @media only screen and (min-device-width: 992px) {
      .our-project .our-project__article-box--btn-wrapp {
        display: block; } }
  .our-project .row .our-project__child-item {
    margin-bottom: 20px;
    text-align: center; }
    .our-project .row .our-project__child-item source,
    .our-project .row .our-project__child-item img {
      max-height: 203px;
      oject-fit: cover; }
    .our-project .row .our-project__child-item ul li {
      list-style: none; }
      .our-project .row .our-project__child-item ul li:nth-child(1) {
        margin-bottom: 15px; }
      .our-project .row .our-project__child-item ul li a {
        color: #aab9cd;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
        .our-project .row .our-project__child-item ul li a:hover {
          color: #fff; }
    .our-project .row .our-project__child-item:nth-child(1) {
      display: none; }
      @media only screen and (min-device-width: 992px) {
        .our-project .row .our-project__child-item:nth-child(1) {
          display: block; } }
    .our-project .row .our-project__child-item .wrapp {
      background-color: #30355d;
      padding: 30px 50px;
      border-bottom: 4px solid #0eb0ee; }

/* 10. Our partners */
.our-partners .row {
  margin: 0; }

.our-partners .our-partners__child-item {
  display: table;
  height: 70px; }
  @media only screen and (min-device-width: 1440px) {
    .our-partners .our-partners__child-item {
      height: 120px; } }
  .our-partners .our-partners__child-item picture {
    display: table-cell;
    vertical-align: middle; }
  .our-partners .our-partners__child-item img,
  .our-partners .our-partners__child-item source {
    opacity: .8;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    max-height: 150px;
    max-width: 90%;
    -o-object-fit: contain;
       object-fit: contain; }
    .our-partners .our-partners__child-item img:hover,
    .our-partners .our-partners__child-item source:hover {
      opacity: 1; }

/* 11. Footer */
footer {
  padding: 30px 0 0 0; }
  @media only screen and (min-device-width: 992px) {
    footer {
      padding: 50px 0 0 0; } }
  footer .footer__child-item {
    color: #fff;
    font-size: 15px;
    line-height: 23px; }
    footer .footer__child-item:nth-child(2) {
      padding-bottom: 30px; }
      @media only screen and (min-device-width: 992px) {
        footer .footer__child-item:nth-child(2) {
          padding-bottom: 0;
          margin-top: -65px; } }
    footer .footer__child-item source,
    footer .footer__child-item img {
      margin-bottom: 20px; }
    footer .footer__child-item .footer__item-wrapper {
      margin-bottom: 20px; }
      footer .footer__child-item .footer__item-wrapper .footer__phone-wrapper {
        display: block;
        float: left;
        margin-right: 10px;
        margin-left: 15px; }
        @media only screen and (min-device-width: 1199px) {
          footer .footer__child-item .footer__item-wrapper .footer__phone-wrapper {
            margin-left: 0;
            margin-right: 5px; } }
        footer .footer__child-item .footer__item-wrapper .footer__phone-wrapper i {
          color: #fff;
          width: 38px;
          height: 38px;
          border-radius: 19px;
          border: solid 1px #8ae3ff;
          line-height: 38px;
          text-align: center;
          padding-left: 2px;
          font-size: 23px; }
      footer .footer__child-item .footer__item-wrapper .footer__phone-text {
        display: block;
        color: #0eb0ee;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 18px; }
        @media only screen and (min-device-width: 992px) {
          footer .footer__child-item .footer__item-wrapper .footer__phone-text {
            padding-left: 65px; } }
        footer .footer__child-item .footer__item-wrapper .footer__phone-text strong {
          color: #fff;
          font-weight: bold;
          font-family: 'Helvetica-Bold', sans-serif;
          font-size: 18px; }
  footer .bottom-footer {
    background-color: #30355d;
    border-top: solid 1px #fff;
    padding: 30px 0;
    text-align: center;
    color: #fff; }
    footer .bottom-footer a i {
      color: #0eb0ee;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      footer .bottom-footer a i:hover {
        color: #fff; }

.no-webp footer {
  background-color: #30355d;
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: 0;
  background-size: cover;
  background-attachment: fixed; }

.webp footer {
  background-color: #30355d;
  background-image: url("../img/footer-bg.webp");
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: 0;
  background-size: cover;
  background-attachment: fixed; }

/* 12. Scrool to top */
.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  display: none;
  background: url("../img/arrow-top.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  z-index: 99;
  background-color: #0eb0ee;
  color: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  font-size: 40px;
  line-height: 34px;
  text-align: center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  .scrollup:hover {
    background-color: #30355d; }

/* 13. Breadcrumbs */
.breadcrumbs {
  background-color: #d7dce1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #30355d;
  letter-spacing: -1px; }
  .breadcrumbs span a {
    color: #0eb0ee; }
    .breadcrumbs span a:hover {
      color: #30355d; }

/* 14. Work zone */
.work-zone {
  position: relative; }
  .work-zone .wp-block-table {
    width: 100%; }
    .work-zone .wp-block-table table {
      width: 100%;
      max-width: 100%;
      word-break: inherit;
      margin-bottom: 20px; }
      .work-zone .wp-block-table table tr:first-child td {
        background-color: #effbff;
        font-weight: bold; }
      .work-zone .wp-block-table table tr td {
        padding: 5px;
        border: solid 1px #30355d; }
        @media (min-device-width: 992px) {
          .work-zone .wp-block-table table tr td {
            border: dashed 1px #30355d; } }
        .work-zone .wp-block-table table tr td:first-child {
          font-weight: bold;
          text-align: center; }
  .work-zone::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .75; }
  .work-zone h1 {
    line-height: 35px;
    display: inline-block; }
  .work-zone .left-nav .left-nav__wrapp {
    background-color: #30355d;
    color: #fff;
    padding: 20px; }
    .work-zone .left-nav .left-nav__wrapp h6 {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 10px; }
    .work-zone .left-nav .left-nav__wrapp ul {
      padding-left: 0; }
      .work-zone .left-nav .left-nav__wrapp ul li {
        list-style: none;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        border-bottom: solid 1px rgba(170, 185, 205, 0.3);
        position: relative; }
        .work-zone .left-nav .left-nav__wrapp ul li::before {
          content: '\f0da';
          font-family: "FontAwesome";
          font-size: 18px;
          line-height: 2.3;
          position: absolute;
          top: 2px;
          left: 0;
          color: #fff;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s; }
        .work-zone .left-nav .left-nav__wrapp ul li:hover {
          border-bottom: solid 1px rgba(170, 185, 205, 0.5); }
          .work-zone .left-nav .left-nav__wrapp ul li:hover::before {
            color: #0eb0ee; }
          .work-zone .left-nav .left-nav__wrapp ul li:hover a {
            color: #0eb0ee; }
        .work-zone .left-nav .left-nav__wrapp ul li.current-menu-item {
          border-bottom: solid 1px rgba(170, 185, 205, 0.5); }
          .work-zone .left-nav .left-nav__wrapp ul li.current-menu-item::before {
            color: #0eb0ee; }
          .work-zone .left-nav .left-nav__wrapp ul li.current-menu-item a {
            color: #0eb0ee; }
        .work-zone .left-nav .left-nav__wrapp ul li a {
          color: #fff;
          display: block;
          font-size: 15px;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          padding: 10px 0 10px 25px; }
  .work-zone .content-box {
    background-color: #fff;
    color: #000;
    font-size: 15px; }
    .work-zone .content-box figure {
      display: inline-block;
      float: left;
      margin-bottom: 0; }
    .work-zone .content-box p a {
      font-weight: bold;
      color: #30355d; }
    .work-zone .content-box h2, .work-zone .content-box h3, .work-zone .content-box h4, .work-zone .content-box h5, .work-zone .content-box h6 {
      border-bottom: none;
      text-align: left;
      font-size: 20px;
      line-height: 20px; }
      @media only screen and (min-device-width: 1200px) {
        .work-zone .content-box h2, .work-zone .content-box h3, .work-zone .content-box h4, .work-zone .content-box h5, .work-zone .content-box h6 {
          font-size: 30px;
          line-height: 30px; } }
    .work-zone .content-box strong {
      font-weight: bold;
      color: #0eb0ee; }
    .work-zone .content-box p, .work-zone .content-box img, .work-zone .content-box ul {
      margin-bottom: 20px; }
    .work-zone .content-box ul {
      margin-left: 20px; }
    .work-zone .content-box .wp-block-image {
      width: 100%;
      text-align: center; }
      @media only screen and (min-device-width: 768px) {
        .work-zone .content-box .wp-block-image {
          width: auto; } }
    .work-zone .content-box img {
      margin-right: 20px; }
      @media only screen and (min-device-width: 768px) {
        .work-zone .content-box img {
          width: auto; } }

.no-webp .work-zone {
  background-color: #ffffff;
  background-image: url(../img/about-us-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.webp .work-zone {
  background-color: #ffffff;
  background-image: url(../img/about-us-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

/* 16. Map */
.map {
  padding: 0; }
